<?xml version="1.0"?>

<robot name="omni_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<!--xacro:include filename="$(find omni_manipulator)/urdf/cycloid_gear_mecanum_wheel.urdf.xacro" /!-->
	<xacro:include filename="$(find mecanum_robot_description)/urdf/mecanum_robot_velodyne/mecanum_frame.urdf.xacro" />
	<xacro:include filename="$(find mecanum_robot_description)/urdf/mecanum_robot_velodyne/cycloid_gear_mecanum_wheel.urdf.xacro" />
	<xacro:include filename="$(find mecanum_robot_description)/urdf/mecanum_robot_velodyne/mecanum.gazebo.xacro" />

    <xacro:macro name="robot">
		<xacro:mecanum_robot/>

		<xacro:mecanum_wheel prefix="front_R" parent="base_link" reflect="true">
			<origin xyz="0.23 -0.2541 -0.11838" rpy="${-pi/2} 0 0"/> 
		</xacro:mecanum_wheel> 

         <xacro:mecanum_wheel prefix="front_L" parent="base_link" reflect="false">
			<origin xyz="0.23 0.2541 -0.11838" rpy="${-pi/2} 0 0"/>
		</xacro:mecanum_wheel>

		<xacro:mecanum_wheel prefix="back_R" parent="base_link" reflect="false">
			<origin xyz="-0.23 -0.2541 -0.11838" rpy="${pi/2} 0 0"/> 
		</xacro:mecanum_wheel> 

        <xacro:mecanum_wheel prefix="back_L" parent="base_link" reflect="true">
			<origin xyz="-0.23 0.2541 -0.11838" rpy="${pi/2} 0 0"/>
		</xacro:mecanum_wheel> 

		<xacro:omni_steering/>
		<!-- <xacro:ros_control/> -->
		<xacro:sensor_gazebo/>


   		</xacro:macro>
		   
	<xacro:robot/>

	

</robot>